Tests: run-tests
Restrictions: rw-build-tree build-needed allow-stderr
Depends: @,
 debhelper (>= 9),
 dh-autoreconf,
 gnome-common,
 libaccounts-glib-dev,
 libdee-dev (>= 1.2.5),
 libgee-dev,
 libglib2.0-dev (>= 2.32),
 libjson-glib-dev,
 libnm-glib-dev,
 liboauth-dev,
 libsignon-glib-dev,
 libsoup2.4-dev,
 libunity-dev (>= 7.0.0),
 pkg-config,
 valac
