[Desktop Entry]
Version=1.0
Type=Application
Icon=/custom/click/.click/users/@all/com.ubuntu.dropping-letters/./dropping-letters.png
Terminal=false
Name=Dropping Letters
Exec=aa-exec-click -p com.ubuntu.dropping-letters_dropping-letters_0.1.2.2.67 -- qmlscene -qt5 ./dropping-letters.qml
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Default-Department-ID=puzzles

Path=/custom/click/.click/users/@all/com.ubuntu.dropping-letters
X-Ubuntu-Old-Icon=./dropping-letters.png
X-Ubuntu-Application-ID=com.ubuntu.dropping-letters_dropping-letters_0.1.2.2.67
