Source: unity-scope-click
Section: gnome
Priority: optional
Build-Depends: cmake (>= 2.8.10),
               debhelper (>= 9),
               dh-autoreconf,
               gnome-common,
               libaccounts-glib-dev,
               libdee-dev (>= 1.2.5),
               libgee-dev,
               libglib2.0-dev (>= 2.32),
               libjson-glib-dev,
               libnm-glib-dev,
               liboauth-dev,
               libsignon-glib-dev,
               libsoup2.4-dev,
               libubuntuoneauth-2.0-dev,
               libunity-dev (>= 7.0.0),
               libunity-scopes-dev,
               pkg-config,
               valac,
Maintainer: Alejandro J. Cura <alejandro.cura@canonical.com>
Standards-Version: 3.9.5
Homepage: https://launchpad.net/unity-scope-click
Vcs-Bzr: lp:unity-scope-click
Xs-Testsuite: autopkgtest

Package: unity-scope-click
Architecture: amd64 armhf i386
Depends: account-plugin-ubuntuone,
         packagekit-tools,
         ubuntu-download-manager,
         ubuntu-purchase-service,
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: unity (<< 7.0),
Description: Click Packages Scope for Unity
 This package contains the "click packages" scopes which can be used
 into Unity to browse your installable applications.
