Source: unity-scope-click
Section: x11
Priority: optional
Build-Depends: cmake (>= 2.8.10),
               debhelper (>= 9),
               dh-translations,
               google-mock,
               intltool,
               libboost-locale-dev,
               libglib2.0-dev (>= 2.32),
               libjsoncpp-dev,
               libubuntu-download-manager-client-dev (>= 0.6),
               libubuntu-download-manager-common-dev (>= 0.6),
               libubuntuoneauth-2.0-dev,
               libunity-api-dev (>= 7.80.7),
               libunity-scopes-dev (>= 0.5.0),
               pkg-config,
               python3-all,
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.5
Homepage: https://launchpad.net/unity-scope-click
Vcs-Bzr: lp:unity-scope-click
Xs-Testsuite: autopkgtest

Package: unity-scope-click
Architecture: armhf i386 amd64
Depends: account-plugin-ubuntuone,
         packagekit-tools,
         ubuntu-app-launch-tools,
         ubuntu-download-manager,
         ubuntu-sdk-libs,
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: unity (<< 7.0),
Description: Click Packages Scope for Unity
 The click packages scope for Unity provides the scope list installed
 applications, as well as applications available for purchase or installation,
 in the Unity dash.
 .
 This package provides the click scope.

Package: unity-scope-click-autopilot
Architecture: all
Depends: libautopilot-qt (>= 1.4),
         python3-autopilot,
         python3-dbus,
         python3-dbusmock,
         python3-fixtures,
         python3-testscenarios,
         python3-testtools,
         ubuntu-ui-toolkit-autopilot,
         unity8-autopilot,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends},
Description: Click Packages Scope for Unity
 The click packages scope for Unity provides the scope list installed
 applications, as well as applications available for purchase or installation,
 in the Unity dash.
 .
 This package provides the autopilot tests for the click scope.
