#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

DH_CMAKE_BUILD_DIR=obj-${DEB_BUILD_GNU_TYPE}

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DPKG_GENSYMBOLS_CHECK_LEVEL=4

# U1_DEBUG is used by the logger installed by libubuntuoneauth, used
# in the C++ code in scope/
export U1_DEBUG=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --parallel --buildsystem cmake --with translations,python3 --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_VERBOSE_MAKEFILE=ON -DGSETTINGS_LOCALINSTALL=ON
