[Desktop Entry]
Type=Application
Terminal=false
Exec=aa-exec-click -p com.ubuntu.developer.webapps.webapp-ubuntuone_webapp-ubuntuone_1.0.4 -- webbrowser-app --enable-back-forward --webappUrlPatterns=https?://one.ubuntu.com/*,https?://login.ubuntu.com/* --webapp https://one.ubuntu.com/
Name=Ubuntu One
Icon=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.developer.webapps.webapp-ubuntuone/./ubuntuone.png
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
Path=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.developer.webapps.webapp-ubuntuone
X-Ubuntu-Old-Icon=./ubuntuone.png
X-Ubuntu-Application-ID=com.ubuntu.developer.webapps.webapp-ubuntuone_webapp-ubuntuone_1.0.4
