[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=aa-exec-click -p com.ubuntu.calculator_calculator_0.1.3.206 -- qmlscene ./ubuntu-calculator-app.qml
Icon=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.calculator/./calculator64.png
Name=Calculator
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Gettext-Domain=com.ubuntu.calculator

Path=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.calculator
X-Ubuntu-Old-Icon=./calculator64.png
X-Ubuntu-Application-ID=com.ubuntu.calculator_calculator_0.1.3.206
