[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=aa-exec-click -p com.ubuntu.accented_accented_0.5.29 -- qmlscene ./ubuntu-accented-app.qml -I ./plugins
Icon=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.accented/./accented64.png
Name=Cámara
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage

Path=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.accented
X-Ubuntu-Old-Icon=./accented64.png
X-Ubuntu-Application-ID=com.ubuntu.accented_accented_0.5.29
