[Desktop Entry]
Version=1.0
Name=Stock Ticker
GenericName=Stock Ticker
Comment=An awesome Stock Ticker application with all the features you could imagine
Exec=aa-exec-click -p com.ubuntu.stock-ticker-mobile_stock-ticker-mobile_0.3.7.66 -- qmlscene Stock_Ticker.qml
Icon=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.stock-ticker-mobile/icons/stock_icon_48.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
Categories=Utility;

Path=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.stock-ticker-mobile
X-Ubuntu-Old-Icon=icons/stock_icon_48.png
X-Ubuntu-Application-ID=com.ubuntu.stock-ticker-mobile_stock-ticker-mobile_0.3.7.66
