[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=aa-exec-click -p com.ubuntu.filemanager_filemanager_0.1.1.97 -- qmlscene ./ubuntu-filemanager-app.qml -I ./plugins
Icon=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.filemanager/./filemanager64.png
Name=File Manager
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage

Path=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.filemanager
X-Ubuntu-Old-Icon=./filemanager64.png
X-Ubuntu-Application-ID=com.ubuntu.filemanager_filemanager_0.1.1.97
