[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=aa-exec-click -p com.ubuntu.clock_clock_1.0.300 -- qmlscene ./ubuntu-clock-app.qml
Icon=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.clock/./clock64.png
Name=Clock
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Gettext-Domain=com.ubuntu.clock

Path=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.clock
X-Ubuntu-Old-Icon=./clock64.png
X-Ubuntu-Application-ID=com.ubuntu.clock_clock_1.0.300
