[Desktop Entry]
Type=Application
Exec=aa-exec-click -p com.ubuntu.notes_notes_1.4.242 -- qmlscene $@ -I ./usr/lib/arm-linux-gnueabihf/qt5/qml NotesApp.qml
Name=Notes
GenericName=Notes application for Ubuntu
Icon=notepad
Terminal=false

X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Gettext-Domain=com.ubuntu.notes
X-Ubuntu-Single-Instance=true
Path=/usr/share/click/preinstalled/.click/users/@all/com.ubuntu.notes
X-Ubuntu-Application-ID=com.ubuntu.notes_notes_1.4.242
