[Desktop Entry]
Type=Application
Name=Sample Desktop-only non-click app
GenericName=NonClickAppWithoutException
Comment=multiline description goes here
Exec=messaging-app %u
Terminal=false
Icon=sample-desktop-app
MimeType=x-scheme-handler/contact;x-scheme-handler/call
